body{
    overflow-x: hidden;
    overflow-y: scroll;
}

/* media query */

@media screen and (max-width: 770px) { 
    
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .han{
        /* background: red; */
        padding-left: 2em;
        padding-top: 3em;
        position: static;
        
        /* margin-left: 5em; */
    }
    
 }

@media screen and (min-width: 991.98px) { 
    
    .img1{
        padding-top: 8em;
    }
    .img2{
        /* padding-left: 19em; */
        padding-top: 8em;
    }
    .img3{
        /* padding-left: 41em; */
        padding-top: 8em;
    }
    .img4{
        /* padding-left: 62em; */
        padding-top: 8em;
    }
    
 }


/* media query end */

/* .blah{
    padding-top: 3em;
    padding-left: 19em;
    padding-left: 41em;
    padding-left: 62em;
} */

.wyler-back{
    background: url(../img/Background\ White\ 50.jpg);
	background-size: cover;
	background-position: center;
	padding: 7.8em 0;
}

.parallax--bg{
	transition: initial;
}


/* chicklets start */

img{
    transition: 1s;
}

img:hover{
    /* z-index: 1; */
    transform: scale(1.25);
    transition: 1s;
}

/* .img1:hover{
    background-size: 150%;
} */

/* chicklets end */

/* in JS, set the top to push right */

/* sideways scroll test */

/* .han{
    background-position-x: center;
} */