/* html, body{
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background: gray;
} */


/* html{
    height: 100%;
} */

body{
    background: black;
    min-width: 100%;
    min-height: 100%;
}

nav{
    background: rgba(21, 36, 44, 0.74);
    height: 63px;
    width: 100%;
    left: 0px;
    margin-bottom: 90px;
}

.navbar-brand{
    text-transform: uppercase;
}


.card{
    width: 800px;
    height: 450px;
    margin: 0 auto;
    box-shadow: -10px -10px 20px 0px whitesmoke, 10px 10px 20px 0px rgb(83, 106, 211);
    /* box-shadow: 9px 9px 0.9em rgba(23, 162, 184), -1em 8px 0.9em whitesmoke; */
    /* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
    /* rgba(23, 162, 184) */
}

.img1{
    width: 800px;
    height: 450px;
}

/* falling images start */


/* .xfall{
    background: linear-gradient(black, gray, yellow);
} */

.img2{
    margin-left: 130px;
    height: 500px;
    /* box-shadow: -10px 10px 20px 0px whitesmoke; */
}

.ace{
    padding-top: 290px;
}

/* put the margins on the divs not the images */

.img3{
    float: right;
    margin-right: 130px;
    height: 500px;
    /* box-shadow: 10px -10px 20px 0px whitesmoke; */

}

.jack{
    padding-top: 70px;
}

/* divider */

.queen{
    margin-top: 360px;
}

.img4{
    float: left;
    margin-left: 130px;
    height: 500px;
}


/* falling images end */


/* Data home.js start */
h5{
    /* text-align: center; */
}

#features{
    margin-top: 900px;
}

.cars{
    display: inline-block;
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
    margin-right: 50px;
}

.feats{
    max-width: 320px;
    min-height: 213px;
}

/* Data home.js end */


/* FOOTER */


/* LOOK UP HOW TO DO MEDIA QUERIES */
/* 
@media only screen and (max-width: 767px) {
    nav {
        height: 300px;
        flex-direction: column;
        text-align: center;
    }

    .footer {
        height: 400px;
        flex-direction: column;
        text-align: center;
    }
} */