/* html, body{
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background: gray;
} */


/* html{
    height: 100%;
} */

body{
    background: black;
    min-width: 100%;
    min-height: 100%;
}

nav{
    background: rgba(21, 36, 44, 0.74);
    height: 63px;
    width: 100%;
    left: 0px;
    margin-bottom: 90px;
}

.navbar-brand{
    text-transform: uppercase;
}


.card{
    width: 800px;
    height: 450px;
    margin: 0 auto;
    box-shadow: -10px -10px 20px 0px whitesmoke, 10px 10px 20px 0px rgba(23, 162, 184);
    /* box-shadow: 9px 9px 0.9em rgba(23, 162, 184), -1em 8px 0.9em whitesmoke; */
    /* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
}


/* FOOTER */


/* LOOK UP HOW TO DO MEDIA QUERIES */
/* 
@media only screen and (max-width: 767px) {
    nav {
        height: 300px;
        flex-direction: column;
        text-align: center;
    }

    .footer {
        height: 400px;
        flex-direction: column;
        text-align: center;
    }
} */